/* ==========================================================================
   #PACK OBJECT
   ========================================================================== */


/**
 * Handles objects laid next to one another. A little like this (assuming # is
 * an element):
 *
 *     +-------+
 *     | # # # |
 *     +-------+
 *
 *     <div class="o-pack">
 *         <div class="o-pack__item">One</div>
 *         <div class="o-pack__item">Two</div>
 *         <div class="o-pack__item">Three</div>
 *         <!-- ... -->
 *     </div>
 *
 */

.o-pack {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.o-pack__item {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.o-pack__item:first-child {
    margin-left: 0;
}

.o-pack__item:last-child {
    margin-right: 0;
}
