/* ==========================================================================
   #WAFFLE OBJECT
   ========================================================================== */


/**
 * Lays elements out in a grid-like pattern. This is intended to handle
 * situations where the elements are the same width. A little like this
 * (assuming # is an element):
 *
 *     +-----+
 *     | # # |
 *     | # # |
 *     +-----+
 *
 *     <div class="o-waffle">
 *         <div class="o-waffle__item">One</div>
 *         <div class="o-waffle__item">Two</div>
 *         <div class="o-waffle__item">Three</div>
 *         <!-- ... -->
 *     </div>
 *
 * 1. Assume 4 columns by default.
 */

.o-waffle {

    --o-waffle-columns: 4; /* [1] */

    display: flex;
    flex-flow: row wrap;
    margin: var(--spacing-negative-values);
    width: calc(100% + var(--spacing-horizontal-value));

}

.o-waffle__item {
    margin: var(--spacing-values);
    width: calc(
        (100% / var(--o-waffle-columns)) - (var(--spacing-horizontal-value))
    );
}
